In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [3]:
%%sql
create database spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [4]:
%%sql
use spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [15]:
%%sql
truncate table spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
)

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [17]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
9 rows affected.

[(1, 'blue', 'yung kai', 'blue', 87, 3.57262),
 (2, 'Lose Yourself', 'Eminem', 'Curtain Call: The Hits (Deluxe Edition)', 74, 5.4411),
 (3, 'Bennie And The Jets - Interlude', 'Taron Egerton', 'Rocketman (Music From The Motion Picture)', 36, 2.46667),
 (4, "He's a Pirate", 'Klaus Badelt', 'Pirates Of The Caribbean Original Soundtrack', 56, 1.5071),
 (5, "We Don't Talk Anymore (feat. Selena Gomez)", 'Charlie Puth', 'Nine Track Mind', 74, 3.62843),
 (6, 'Galway Girl', 'Ed Sheeran', 'รท (Deluxe)', 73, 2.8471),
 (7, 'Thunder', 'Imagine Dragons', 'Thunder', 0, 3.12935),
 (8, 'As It Was', 'Harry Styles', 'As It Was', 23, 2.78838),
 (9, 'Heat Waves', 'Glass Animals', 'Dreamland', 81, 3.98008)]

In [18]:
%%sql
SELECT track_name, artist, album, popularity
FROM spotify_tracks
ORDER BY popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('blue', 'yung kai', 'blue', 87)]

In [19]:
%%sql
SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('56.0000'),)]

In [24]:
%%sql
SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('Lose Yourself', 'Eminem', 5.4411)]

In [27]:
%%sql
SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.

[('Very Popular', 2), ('Popular', 4), ('Less Popular', 3)]